packages/*
.vs/
SurveyApp/bin/*
SurveyApp/obj/*
SurveyApp/*.*
SurveyApp.Domain/bin/*
SurveyApp.Domain/obj/*
SurveyApp.Domain/*.*
SurveyApp.Infrastructure/bin/*
SurveyApp.Infrastructure/obj/*
SurveyApp.Infrastructure/*.*