.account-form {
    padding: 10px 10px;
}

.account-form input {
    border: #000000 solid 3px;
}

.account-form .log-option,
.account-form .log-option div {
    padding: 0;
    margin-bottom: 5px;
}

.account-form_bordered {
    border: #000000 solid 4px;
}

